<p>
  <strong>Reviewer:</strong>
  <%= review.reviewer %>
</p> 

<p>
  <strong>Review:</strong>
  <%= review.body %>
</p>

<%# <p> %>
  <%# <%= link_to "Destroy Review", [review.product, review], data: %>
    <%# { %>
      <%# <% turbo_method: :delete, %> 
       <%# <% turbo_confirm: "Are you sure?" %> 
  <%# } %> 
<%# </p> %>



<%# <table class="table">
  <thead>
    <tr>
      <th scope="col">Reviewer</th>
      <th scope="col">Review</th>
    </tr>
  </thead>
  <tbody>
  
    <tr>
      <td><%= review.reviewer %></td> 
      <%# <td><%= review.body %></td>  
    <%# </tr> %>
    <%# <% end %> 
  <%# </tbody>  %>
<%# </table> %> 